<%= render "shared/navbarm" %>
<div class="flex-container" id="backdrop">
  <div class="flex-items">
    <%= render "shared/navbar2" %>
  </div>
  <div class="flex-items">
    <div class="flex-container-sec">

      <div class="flex-items-sec">
        <%# MAIN CONTENT GOES HERE / WITH CSSGRID %>


        <%# TO BE REPLACED BY A FLEXBOX GRID SYSTEM %>
        <%# -------------------------------------- %>
        <div class="dash-container">

          <div class="section-title">
            <h1>Growth Dashboard</h1>
          </div>

          <div class="dash-card main-banner">
            <div class="welcome-message">
              <h2>Welcome back, <%= current_user.first_name %></h2>
              <%# Create HTML component to generate a variety of welcome messages that propose the best CTA %>
              <p>We noticed that you have no project yet. Create a Proposal today so our Experts can help <%= current_user.company.name %> meet with potentials client and partners in Asia.</p>
              <%= link_to  new_project_path do %>
                <button type="button" class="btn btn-primary shadow">Create my first Project</button>
              <% end %>
            </div>
            <div class="welcome-picture">
              <%= image_tag("hongkong", size: "300", id: "dash-picture" ) %>
            </div>
          </div>

          <div class="components-box">
            <div class="left-components">
              <div class="dash-card top-left-component">
                <%# RFP BOX / CSS GRID %>
                <div class="cssgrid-small-parent">
                  <div class="cssgrid-small-div1 d-flex flex-row">
                    <div><h6 class="bubble" style="padding: 3px 6px 3px 6px; background-color: #0D6EFD; border-radius: 7px"><%= @rfpprojects.count %></h6></div>

                    <h6>Open proposals</h6>
                  </div>
                  <div class="cssgrid-small-div2">
                    <p>show all</p>
                  </div>
                  <div class="cssgrid-small-div3">
                    <%# CREATE RFP LIST HERE %>
                    <div class="card-body">
                      <!-- Your content goes here -->

                      <% @rfpprojects.each do |rfp| %>

                        <div class="dash-card-sm-back d-flex justify-content-left">

                          <div class="ribbon rotate">
                            <div>
                              <p><%= rfp.project_type.truncate(12).upcase %></p>
                            </div>
                          </div>

                          <div class="dash-card-sm-body flex-grow d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column justify-content-between flex-grow w-75">
                              <p><%= rfp.project_name.truncate(50) %></p>
                              <p>Created on <%= rfp.created_at.strftime("%b %d, %Y") %></p>
                              <div class="d-flex flex-row">
                                <div class="bubble"><%= rfp.target_regions[0] %></div>
                                <div class="bubble"><%= rfp.target_regions[1] %></div>
                                <div class="bubble"><%= rfp.target_regions[2] %></div>
                                <div class="bubble">
                                  <% if rfp.target_regions.count > 3 %>
                                    +<%= rfp.target_regions.count - 3 %>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                            <div class="d-flex flex-column w-25 justify-content-between align-items-end">
                              <div class="bubble" style="margin: 0; background-color: #CCFF0050; color: #414141 !important"><%= rfp.project_status.capitalize %></div>
                              <%= link_to root_path do %>
                                <p>5 bids received</p>
                              <% end %>
                            </div>
                          </div>

                        </div>
                      <% end %>
                    </div>

                  </div>
                </div>


              </div>
              <div class="dash-card bottom-left-component">
                <%# PROJECT BOX / CSS GRID%>
                <div class="cssgrid-small-parent">
                  <div class="cssgrid-small-div1 d-flex flex-row">
                    <div><h6 class="bubble" style="padding: 3px 6px 3px 6px; background-color: #CCFF00; color: #414141 !important; border-radius: 7px"><%= @activeprojects.count %></h6></div>
                    <h6>Active projects</h6>
                  </div>
                  <div class="cssgrid-small-div2">
                    <p>show all</p>
                  </div>
                  <div class="cssgrid-small-div3">
                    <%# CREATE RFP LIST HERE %>
                    <div class="card-body">
                      <!-- Your content goes here -->

                      <% @activeprojects.each do |project| %>

                        <div class="dash-card-sm-back d-flex justify-content-left">

                          <div class="ribbon rotate">
                            <div>
                              <p><%= project.project_type.truncate(12).upcase %></p>
                            </div>
                          </div>

                          <div class="dash-card-sm-body flex-grow d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column justify-content-between flex-grow w-75">
                              <p><%= project.project_name.truncate(50) %></p>
                              <p>Created on <%= project.created_at.strftime("%b %d, %Y") %></p>
                              <div class="d-flex flex-row">
                                <div class="bubble"><%= project.target_regions[0] %></div>
                                <div class="bubble"><%= project.target_regions[1] %></div>
                                <div class="bubble"><%= project.target_regions[2] %></div>
                                <div class="bubble">
                                  <% if project.target_regions.count > 3 %>
                                    +<%= project.target_regions.count - 3 %>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                            <div class="d-flex flex-column w-25 justify-content-between align-items-end">
                              <div class="bubble" style="margin: 0; background-color: #CCFF0050; color: #414141 !important"><%= project.project_status.capitalize %></div>
                              <%= link_to root_path do %>
                                <p>5 bids received</p>
                              <% end %>
                            </div>
                          </div>

                        </div>
                      <% end %>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="dash-card right-component">
              <%# BUSINESS CALENDAR / CSS GRID %>
              <div class="cssgrid-small-parent">
                <div class="cssgrid-small-div1">
                  <h6>Business Calendar</h6>
                </div>
                <div class="cssgrid-small-div2">

                </div>
                <div class="cssgrid-small-div3">
                  <%# CREATE CALENDAR OR LIST OF EVENT HERE %>
                  <%= react_component("Form") %>
                  <%= react_component("MaterialButton") %>
                </div>
              </div>

            </div>
          </div>

          <div class="figures-box">


          </div>
        </div>
        <%# -------------------------------------- %>

      </div>

      <%# MAKE SURE THIS PART CAN WRAP DOWN %>
      <div class="flex-items-sec">
        <%# RIGHT SIDE BAR %>
        <h1>Right side content</h1>
      </div>


    </div>
  </div>
</div>
