<%= render "shared/navbarm" %>
<div class="flex-container" id="backdrop">
  <div class="flex-items">
    <%= render "shared/navbar2" %>
  </div>
  <div class="flex-items">
    <div class="flex-container-sec">

      <div class="flex-items-sec">
        <%# MAIN CONTENT GOES HERE / WITH CSSGRID %>


        <%# TO BE REPLACED BY A FLEXBOX GRID SYSTEM %>
        <%# -------------------------------------- %>
        <div class="dash-container">

          <div class="section-title">
            <h1>Growth Dashboard</h1>
          </div>

          <div class="dash-card main-banner">
            <div class="welcome-message">
              <h2>Welcome back, <%= current_user.first_name %></h2>
              <%# Create HTML component to generate a variety of welcome messages that propose the best CTA %>
              <p>We noticed that you have no project yet. Create a Proposal today so our Experts can help <%= current_user.company.name %> meet with potentials client and partners in Asia.</p>
              <%= link_to  new_project_path do %>
                <button type="button" class="btn btn-primary shadow">Create my first Project</button>
              <% end %>
            </div>
            <div class="welcome-picture">
              <%= image_tag("hongkong", size: "300", id: "dash-picture" ) %>
            </div>
          </div>

          <div class="components-box">
            <div class="left-components">
              <div class="dash-card top-left-component">
                <%# RFP BOX / CSS GRID %>
                <div class="cssgrid-small-parent">
                  <div class="cssgrid-small-div1">
                    <h6>Open proposals</h6>
                  </div>
                  <div class="cssgrid-small-div2">
                    <p>see more</p>
                  </div>
                  <div class="cssgrid-small-div3">
                    <%# CREATE RFP LIST HERE %>
                  </div>
                </div>


              </div>
              <div class="dash-card bottom-left-component">
                <%# PROJECT BOX / CSS GRID%>
                <div class="cssgrid-small-parent">
                  <div class="cssgrid-small-div1">
                    <h6>Active projects</h6>
                  </div>
                  <div class="cssgrid-small-div2">
                    <p>see more</p>
                  </div>
                  <div class="cssgrid-small-div3">
                    <%# CREATE PROJECT LIST HERE %>

                  </div>
                </div>

              </div>
            </div>
            <div class="dash-card right-component">
              <%# BUSINESS CALENDAR / CSS GRID %>
              <div class="cssgrid-small-parent">
                <div class="cssgrid-small-div1">
                  <h6>Business Calendar</h6>
                </div>
                <div class="cssgrid-small-div2">

                </div>
                <div class="cssgrid-small-div3">
                  <%# CREATE CALENDAR OR LIST OF EVENT HERE %>
                  <%= react_component("Form") %>
                  <%= react_component("MaterialButton") %>
                </div>
              </div>

            </div>
          </div>

          <div class="figures-box">


          </div>
        </div>
        <%# -------------------------------------- %>

      </div>

      <%# MAKE SURE THIS PART CAN WRAP DOWN %>
      <div class="flex-items-sec">
        <%# RIGHT SIDE BAR %>
        <h1>Right side content</h1>
      </div>


    </div>
  </div>
</div>
