<div class="row justify-content-center" id="backdrop">

  <div class="project-form-container ">

    <%# TITLE FOR THE FORM WITH ESCAPE BUTTON / REMAIN STATIC DURING FORM %>
    <div class="d-flex flex-row align-items-center justify-content-between p-3 mt-3 mb-5 border-bottom">
      <div>
        <h2>Launch a new project (RFP)</h2>
      </div>
      <div>
        <%# To replace with cool icon %>
        <%= link_to root_path do%>
          <i class="fa-regular fa-circle-xmark" style="font-size:24px; color: grey"></i>
        <% end %>
      </div>
    </div>

    <div class="dash-card">

      <%= simple_form_for @project, data: { countries: 'form' } do |f| %>

        <%= f.input :project_status %>
        <%= f.input :project_type %>
        <%= f.input :bidding_start %>
        <%= f.input :bidding_end %>
        <%= f.input :rfp_status %>
        <%= f.input :project_start %>
        <%= f.input :project_end %>
        <%= f.input :project_budget %>
        <%= f.input :project_price %>
        <%= f.input :countries, collection: Project::COUNTRIES, input_html: { multiple: true, data: { controller: "tom-select" } } %>
        <%= f.button :submit %>
      <% end %>


    </div>

  </div>
</div>
