<!-- app/views/projects/show.html.erb -->

<h1><%= @project.project_name %></h1>

<dl>
  <dt>Client:</dt>
  <dd><%= @project.client_id_id || "N/A" %></dd>

  <dt>Company:</dt>
  <dd><%= @project.company_id_id || "N/A" %></dd>

  <dt>Expert:</dt>
  <dd><%= @project.expert_id_id || "N/A" %></dd>

  <dt>Status:</dt>
  <dd><%= @project.project_status || "N/A" %></dd>

  <dt>Type:</dt>
  <dd><%= @project.project_type || "N/A" %></dd>

  <dt>Bidding period:</dt>
  <dd><%= @project.bidding_start || "N/A" %> - <%= @project.bidding_end || "N/A" %></dd>

  <dt>RFP status:</dt>
  <dd><%= @project.rfp_status || "N/A" %></dd>

  <dt>Project period:</dt>
  <dd><%= @project.project_start || "N/A" %> - <%= @project.project_end || "N/A" %></dd>

  <dt>Budget:</dt>
  <dd><%= number_to_currency(@project.project_budget || 0, precision: 0) %></dd>

  <dt>Price:</dt>
  <dd><%= number_to_currency(@project.project_price || 0, precision: 0) %></dd>

  <dt>Countries:</dt>
  <dd><%= @project.countries&.join(", ") || "N/A" %></dd>

  <dd><%= @project.countries&.class || "N/A" %></dd>
</dl>

<%= link_to "Edit", edit_project_path(@project) %>
<%= link_to "Back", projects_path %>
