<!DOCTYPE html>
<html>
  <head>
    <title>APAC Growth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class='d-flex'>

    <div>
      <%# <%= render "shared/navbar2" %>
    </div>
    <div>
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
